.button-set {
    text-align: center;
}
.row {
    padding: 40px 0 0 0;
}

form input.ng-valid.ng-dirty {
    border: 1px solid green;
}

form input.ng-invalid.ng-dirty {
    border: 1px solid red;
}
