.button-set {
    text-align: center;
}
.row {
    padding: 40px 0 0 0;
}

.success {
    background-color: lightgreen;
}

.checking {
    background-color: lightyellow;
}

.invalid.checking {
    background-color: lightyellow;
}

.valid.checking {
    background-color: lightyellow;
}

.invalid {
    background-color: lightsalmon;
}

form input.ng-valid.ng-dirty {
    border: 1px solid green;
}

form input.ng-invalid.ng-dirty {
    border: 1px solid red;
}
